/*Containers */




/* Start of Container 1 Styles */
.container1{
    width:100vw;
    display: flex;
}

.container1-block1{
    width: 80vw;
    display: flex;
    margin: 0 auto;
}


/* End of Container 1 Styles */
/* Start of Container 2 Styles */
.container2{
    width:100vw;
}

.container2-block1{
    width: inherit;
}

.container2-block2{
    width: inherit;
}

/* End of Container 2 Styles */
/*Container 3 Styles */
.container3{
    width:100vw;
}

.container3-block1{
    width: inherit;
}

.container3-block2{
    width: inherit;
}

/* End of Container 3 Styles */
/* Start of Container 4 Styles */
.container4{
    width:100vw;
}

.container4-top{
    width: inherit;
}
.container4-block1{
    width: inherit;
}

.container4-block3{
    width: inherit;
}

.container4-bottom{
    width: inherit;
}

.container4-block2{
    width: inherit;
}

.container4-block4{
    width: inherit;
}

/* End of Container 4 Styles */
/* Start of Container 5 Styles */
.container5{
    width:100vw;
}

.container5-top{
    width: inherit;
}

.container5-block1{
    width: inherit;
}

.container5-block2{
    width: inherit;
}

.container5-block3{
    width: inherit;
}

.container5-bottom{
    width: inherit;
}

.container5-block4{
    width: inherit;
}

.container5-block5{
    width: inherit;
}

.container5-block6{
    width: inherit;
}

/* End of Container 5 Styles */
/* Start of Container 6 Styles */
.container6{
    width:100vw;
}

.container6-left{
    width: inherit;
}

.container6-block1{
    width: inherit;
}

.container6-block2{
    width: inherit;
}

.container6-block3{
    width: inherit;
}

.container6-right{
    width: inherit;
}

.container6-block4{
    width: inherit;
}

.container6-block5{
    width: inherit;
}

.container6-block6{
    width: inherit;
}

/* End of Container 6 Styles */
/* Start of Container 7 Styles */
.container7{
    width:100vw;
}

.container7-left{
    width: inherit;
}

.container7-block1{
    width: inherit;
}

.container7-block2{
    width: inherit;
}

.container7-right{
    width: inherit;
}

.container7-block3{
    width: inherit;
}

/* End of Container 7 Styles */
/* Start of Container 8 Styles */
.container8{
    width:100vw;
}

.container8-left{
    width: inherit;
}

.container8-block1{
    width: inherit;
}

.container8-right{
    width: inherit;
}

.container8-block2{
    width: inherit;
}

.container8-block3{
    width: inherit;
}

/* End of Container 8 Styles */
/* Start of Container 9 Styles */
.container9{
    width:100vw;
}

.container9-top{
    width: inherit;
}

.container9-block1{
    width: inherit;
}

.container9-bottom{
    width: inherit;
}

.container9-block2{
    width: inherit;
}

.container9-block3{
    width: inherit;
}

/* End of Container 9 Styles */
/* Start of Container 10 Styles */
.container10{
    width:100vw;
}

.container-top{
    width: inherit;
}

.container10-block1{
    width: inherit;
}

.container-middle{
    width: inherit;
}

.container10-block2{
    width: inherit;
}

.container-bottom{
    width: inherit;
}

.container10-block3{
    width: inherit;
}

.container10-block4{
    width: inherit;
}
/* End of Container 10 Styles */
/* Start of Container 11 Styles */
.container11{
    width:100vw;
}

.container11-top{
    width: inherit;
}

.container11-block1{
    width: inherit;
}

.container11-block2{
    width: inherit;
}

.container-middle{
    width: inherit;
}

.container11-block3{
    width: inherit;
}

.container-bottom{
    width: inherit;
}

.container11-block4{
    width: inherit;
}

.container11-block5{
    width: inherit;
}
/* End of Container 11 Styles */
/* Start of Container 12 Styles */
.container12{
    width:100vw;
}

/* End of Container 12 Styles */
/* Start of Container 13 Styles */
.container13{
    width:100vw;
}

/* End of Container 13 Styles */
/* Start Container 14 Styles */
.container14{
    width:100vw;
}

/* End of Container 14 Styles */
/* Start of Container 15 Styles */
.container15{
    width:100vw;
}

/* End of Container 15 Styles */
/* Start of Container 16 Styles */
.container16{
    width:100vw;
}

/* End of Container 16 Styles */
/* Start of Container 17 Styles */
.container17{
    width:100vw;
}

/* End of Container 17 Styles */
/* Start of Container 18 Styles */
.container18{
    width:100vw;
}

/* End of Container 18 Styles */
/* Start of Container 19 Styles */
.container19{
    width:100vw;
}

/* End of Container 19 Styles */
/* Start of Container 20 Styles */
.container20{
    width:100vw;
}

/* End of Container 20 Styles */