/* Holders */
/*
Holders Styles Overview
*/

/* Start of Holder 1 Styles */
.holder1{
    width: inherit;
}

/* End of Holder 1 Styles */
/* Holder 2 Styles */
.holder2{
    width: inherit;
}

/* End of Holder 2 Styles */
/* Start of Holder 3 Styles */
.holder3{
    width: inherit;
}

/* End of Holder 3 Styles */
/* Start of Holder 4 Styles */
.holder4{
    width: inherit;
}

/* End of Holder 4 Styles */
/* Start of Holder 5 Styles */
.holder5{
    width: inherit;
}

/* End of Holder 5 Styles */
/* Start of Holder 6 Styles */
.holder6{
    width: inherit;
}

/* End of Holder 6 styles */
/* Start of Holder 7 Styles */
.holder7{
    width: inherit;
}

/* End of Holder 7 Styles */
/* Start of Holder 8 Styles */
.holder8{
    width: inherit;
}

/* End of Holder 8 Styles */
/* Start of Holder 9 Styles */
.holder9{
    width: inherit;
}

/* End of Holder 9 Styles */
/* Start of Holder 10 Styles */
.holder10{
    width: inherit;
}

/* End of Holder 10 Styles */
/* Start of Holder 11 Styles */
.holder11{
    width: inherit;
}

/* End of Holder 11 Styles */
/* Start of Holder 12 Styles */
.holder12{
    width: inherit;
}

/* End of Holder 12 Styles */
/* Start of Holder 13 Styles */
.holder13{
    width: inherit;
}

/* End of Holder 13 Styles */
/* Start of Holder 14 Styles */
.holder14{
    width: inherit;
}

/* End of Holder 14 Styles */
/* Start of Holder 15 Styles */
.holder15{
    width: inherit;
}

/* End of Holder 15 Styles */
/* Start of Holder 16 Styles */
.holder16{
    width: inherit;
}

/* End of Holder 16 Styles */
/* Start of Holder 17 Styles */
.holder17{
    width: inherit;
}

/* End of Holder 17 Styles */
/* Start of Holder 18 Styles */
.holder18{
    width: inherit;
}

/* End of Holder 18 Styles */
/* Start of Holder 19 Styles */
.holder19{
    width: inherit;
}

/* End of Holder 19 Styles */
/* Start of Holder 20 Styles */
.holder20{
    width: inherit;
}

/* End of Holder 20 Styles */
/* Start of Holder 21 Styles */
.holder21{
    width: inherit;
}

/* End of Holder 21 Styles */
/* Start of Holder 22 Styles */
.holder22{
    width: inherit;
}

/* End of Holder 22 Styles */
/* Start of Holder 23 Styles */
.holder23{
    width: inherit;
}

/* End of Holder 23 Styles */
/* Start of Holder 24 Styles */
.holder24{
    width: inherit;
}

/* End of Holder 24 Styles */
/* Start of Holder 25 Styles */
.holder25{
    width: inherit;
}

/* End of Holder 25 Styles */
/* Start of Holder 26 Styles */
.holder26{
    width: inherit;
}

/* End of Holder 26 Styles */
/* Start of Holder 27 Styles */
.holder27{
    width: inherit;
}

/* End of Holder 27 Styles */
/* Start of Holder 28 Styles */
.holder28{
    width: inherit;
}

/* End of Holder 28 Styles */
/* Start of Holder 29 Styles */
.holder29{
    width: inherit;
}

/* End of Holder 29 Styles */
/* Start of Holder 30 Styles */
.holder30{
    width: inherit;
}

/* End of Holder 30 Styles */
/* Start of Holder 31 Styles */
.holder31{
    width: inherit;
}

/* End of Holder 31 Styles */
/* Start of Holder 32 Styles */
.holder32{
    width: inherit;
}

/* End of Holder 34 Styles */
/* Start of Holder 33 Styles */
.holder33{
    width: inherit;
}

/* End of Holder 33 Styles */
/* Start of Holder 34 Styles */
.holder34{
    width: inherit;
}

/* End of Holder 34 Styles */
/* Start of Holder 35 Styles */
.holder35{
    width: inherit;
}

/* End of Holder 35 Styles */
/* Start of Holder 36 Styles */
.holder36{
    width: inherit;
}

/* End of Holder 36 Styles */
/* Start of Holder 37 Styles */
.holder37{
    width: inherit;
}

/* End of Holder 37 Styles */
/* Start of Holder 38 Styles */
.holder38{
    width: inherit;
}

/* End of Holder 38 Styles */
/* Start of Holder 39 Styles */
.holder39{
    width: inherit;
}

/* End of Holder 39 Styles */
/* Start of Holder 40 Styles */
.holder40{
    width: inherit;
}

/* End of Holder 40 Styles */
/* Start of Holder 41 Styles */
.holder41{
    width: inherit;
}

/* End of Holder 41 Styles */
/* Start of Holder 42 Styles */
.holder42{
    width: inherit;
}

/* End of Holder 42 Styles */
/* Start of Holder 43 Styles */
.holder43{
    width: inherit;
}

/* End of Holder 43 Styles */
/* Start of Holder 44 Styles */
.holder44{
    width: inherit;
}

/* End of Holder 44 Styles */
/* Start of Holder 45 Styles */
.holder45{
    width: inherit;
}

/* End of Holder 45 Styles */
/* Start of Holder 46 Styles */
.holder46{
    width: inherit;
}

/* End of Holder 46 Styles */
/* Start of Holder 47 Styles */
.holder47{
    width: inherit;
}

/* End of Holder 47 Styles */
/* Start of Holder 48 Styles */
.holder48{
    width: inherit;
}

/* End of Holder 48 Styles */
/* Start of Holder 49 Styles */
.holder49{
    width: inherit;
}

/* End of Holder 49 Styles */
/* Start of Holder 50 Styles */
.holder50{
    width: inherit;
}

/* End of Holder 50 Styles */
