/* Holders */
/*
Holders Styles Overview
*/

/* Start of Holder 1 Styles */
.holder1{
    width: inherit;
}

.holder1-block1{
    width: inherit;
}

.holder1-block2{
    width: inherit;
}

/* End of Holder 1 Styles */
/* Holder 2 Styles */
.holder2{
    width: inherit;
}

.holder2-block1{
    width: inherit;
}

.holder2-block2{
    width: inherit;
}

.holder2-block3{
    width: inherit;
}

/* End of Holder 2 Styles */
/* Start of Holder 3 Styles */
.holder3{
    width: inherit;
}

.holder3-block1{
    width: inherit;
}

.holder3-block2{
    width: inherit;
}

.holder3-block3{
    width: inherit;
}

.holder3-block4{
    width: inherit;
}

/* End of Holder 3 Styles */
/* Start of Holder 4 Styles */
.holder4{
    width: inherit;
}

.holder4-block1{
    width: inherit;
}

.holder4-block2{
    width: inherit;
}

/* End of Holder 4 Styles */
/* Start of Holder 5 Styles */
.holder5{
    width: inherit;
}

.holder5-block1{
    width: inherit;
}

.holder5-block2{
    width: inherit;
}

.holder5-block3{
    width: inherit;
}

/* End of Holder 5 Styles */
/* Start of Holder 6 Styles */
.holder6{
    width: inherit;
}

.holder6-block1{
    width: inherit;
}

.holder6-block2{
    width: inherit;
}

.holder6-block3{
    width: inherit;
}

.holder6-block4{
    width: inherit;
}

/* End of Holder 6 styles */
/* Start of Holder 7 Styles */
.holder7{
    width: inherit;
}

.holder7-top{
    width: inherit;
}

.holder7-block1{
    width: inherit;
}

.holder7-block3{
    width: inherit;
}

.holder7-bottom{
    width: inherit;
}

.holder7-block2{
    width: inherit;
}

.holder7-block4{
    width: inherit;
}

/* End of Holder 7 Styles */
/* Start of Holder 8 Styles */
.holder8{
    width: inherit;
}

.holder8-top{
    width: inherit;
}

.holder8-block1{
    width: inherit;
}

.holder8-block3{
    width: inherit;
}

.holder8-block5{
    width: inherit;
}

.holder8-bottom{
    width: inherit;
}

.holder8-block2{
    width: inherit;
}

.holder8-block4{
    width: inherit;
}

.holder8-block6{
    width: inherit;
}

/* End of Holder 8 Styles */
/* Start of Holder 9 Styles */
.holder9{
    width: inherit;
}

.holder9-top{
    width: inherit;
}

.holder9-block1{
    width: inherit;
}

.holder9-block3{
    width: inherit;
}

.holder9-block5{
    width: inherit;
}

.holder9-block7{
    width: inherit;
}

.holder9-bottom{
    width: inherit;
}

.holder9-block2{
    width: inherit;
}

.holder9-block4{
    width: inherit;
}

.holder9-block6{
    width: inherit;
}

.holder9-block8{
    width: inherit;
}

/* End of Holder 9 Styles */
/* Start of Holder 10 Styles */
.holder10{
    width: inherit;
}

.holder10-top{
    width: inherit;
}

.holder10-block1{
    width: inherit;
}

.holder10-bottom{
    width: inherit;
}

.holder10-block2{
    width: inherit;
}

/* End of Holder 10 Styles */
/* Start of Holder 11 Styles */
.holder11{
    width: inherit;
}

.holder11-top{
    width: inherit;
}

.holder11-block1{
    width: inherit;
}

.holder11-bottom{
    width: inherit;
}

.holder11-block2{
    width: inherit;
}

/* End of Holder 11 Styles */
/* Start of Holder 12 Styles */
.holder12{
    width: inherit;
}

.holder12-left{
    width: inherit;
}

.holder12-block1{
    width: inherit;
}

.holder12-block2{
    width: inherit;
}

.holder12-right{
    width: inherit;
}

.holder12-block3{
    width: inherit;
}

/* End of Holder 12 Styles */
/* Start of Holder 13 Styles */
.holder13{
    width: inherit;
}

.holder13-left{
    width: inherit;
}

.holder13-block1{
    width: inherit;
}

.holder13-right{
    width: inherit;
}

.holder13-block2{
    width: inherit;
}

.holder13-block3{
    width: inherit;
}

/* End of Holder 13 Styles */
/* Start of Holder 14 Styles */
.holder14{
    width: inherit;
}

.holder14-top{
    width: inherit;
}

.holder14-block1{
    width: inherit;
}

.holder14-bottom{
    width: inherit;
}

.holder14-block2{
    width: inherit;
}

.holder14-block3{
    width: inherit;
}

/* End of Holder 14 Styles */
/* Start of Holder 15 Styles */
.holder15{
    width: inherit;
}

.holder15-top{
    width: inherit;
}

.holder15-block1{
    width: inherit;
}

.holder15-block2{
    width: inherit;
}

.holder15-bottom{
    width: inherit;
}

.holder15-block3{
    width: inherit;
}

/* End of Holder 15 Styles */
/* Start of Holder 16 Styles */
.holder16{
    width: inherit;
}

.holder16-left{
    width: inherit;
}

.holder16-block1{
    width: inherit;
}

.holder16-block2{
    width: inherit;
}

.holder16-block3{
    width: inherit;
}

.holder16-right{
    width: inherit;
}

.holder16-block4{
    width: inherit;
}

/* End of Holder 16 Styles */
/* Start of Holder 17 Styles */
.holder17{
    width: inherit;
}

.holder17-left{
    width: inherit;
}

.holder17-block1{
    width: inherit;
}

.holder17-right{
    width: inherit;
}

.holder17-block2{
    width: inherit;
}

.holder17-block3{
    width: inherit;
}

.holder17-block4{
    width: inherit;
}

/* End of Holder 17 Styles */
/* Start of Holder 18 Styles */
.holder18{
    width: inherit;
}

.holder18-top{
    width: inherit;
}

.holder18-block1{
    width: inherit;
}

.holder18-block2{
    width: inherit;
}

.holder18-block3{
    width: inherit;
}

.holder18-bottom{
    width: inherit;
}

.holder18-block4{
    width: inherit;
}

/* End of Holder 18 Styles */
/* Start of Holder 19 Styles */
.holder19{
    width: inherit;
}

.holder19-top{
    width: inherit;
}

.holder19-block1{
    width: inherit;
}

.holder19-bottom{
    width: inherit;
}

.holder19-block2{
    width: inherit;
}

.holder19-block3{
    width: inherit;
}

.holder19-block4{
    width: inherit;
}

/* End of Holder 19 Styles */
/* Start of Holder 20 Styles */
.holder20{
    width: inherit;
}

.holder20-left{
    width: inherit;
}

.holder20-block1{
    width: inherit;
}

.holder20-middle{
    width: inherit;
}

.holder20-block2{
    width: inherit;
}

.holder20-block3{
    width: inherit;
}

.holder20-right{
    width: inherit;
}

.holder20-block4{
    width: inherit;
}

/* End of Holder 20 Styles */
/* Start of Holder 21 Styles */
.holder21{
    width: inherit;
}

.holder21-left{
    width: inherit;
}

.holder21-block1{
    width: inherit;
}

.holder21-block2{
    width: inherit;
}

.holder21-middle{
    width: inherit;
}

.holder21-block3{
    width: inherit;
}

.holder21-right{
    width: inherit;
}

.holder21-block4{
    width: inherit;
}

/* End of Holder 21 Styles */
/* Start of Holder 22 Styles */
.holder22{
    width: inherit;
}

.holder22-left{
    width: inherit;
}

.holder22-block1{
    width: inherit;
}

.holder22-middle{
    width: inherit;
}

.holder22-block2{
    width: inherit;
}

.holder22-right{
    width: inherit;
}

.holder22-block3{
    width: inherit;
}

.holder22-block4{
    width: inherit;
}

/* End of Holder 22 Styles */
/* Start of Holder 23 Styles */
.holder23{
    width: inherit;
}

.holder23-left{
    width: inherit;
}

.holder23-block1{
    width: inherit;
}

.holder23-right{
    width: inherit;
}

.holder23-right-top{
    width: inherit;
}

.holder23-block2{
    width: inherit;
}

.holder23-right-bottom{
    width: inherit;
}

.holder23-block3{
    width: inherit;
}

.holder23-block4{
    width: inherit;
}

/* End of Holder 23 Styles */
/* Start of Holder 24 Styles */
.holder24{
    width: inherit;
}

.holder24-left{
    width: inherit;
}

.holder24-block1{
    width: inherit;
}

.holder24-right{
    width: inherit;
}

.holder24-right-top{
    width: inherit;
}

.holder24-block2{
    width: inherit;
}

.holder24-block3{
    width: inherit;
}

.holder24-right-bottom{
    width: inherit;
}

.holder24-block4{
    width: inherit;
}

/* End of Holder 24 Styles */
/* Start of Holder 25 Styles */
.holder25{
    width: inherit;
}

.holder25-left{
    width: inherit;
}

.holder25-block1{
    width: inherit;
}

.holder25-right{
    width: inherit;
}

.holder25-right-top{
    width: inherit;
}

.holder25-block2{
    width: inherit;
}

.holder25-block3{
    width: inherit;
}

.holder25-block4{
    width: inherit;
}

.holder25-right-bottom{
    width: inherit;
}

.holder25-block5{
    width: inherit;
}

.holder25-block6{
    width: inherit;
}

/* End of Holder 25 Styles */
/* Start of Holder 26 Styles */
.holder26{
    width: inherit;
}

.holder26-left{
    width: inherit;
}

.holder26-block1{
    width: inherit;
}

.holder26-right{
    width: inherit;
}

.holder26-right-top{
    width: inherit;
}

.holder26-block2{
    width: inherit;
}

.holder26-block3{
    width: inherit;
}

.holder26-block4{
    width: inherit;
}

.holder26-right-bottom{
    width: inherit;
}

.holder26-block5{
    width: inherit;
}

/* End of Holder 26 Styles */
/* Start of Holder 27 Styles */
.holder27{
    width: inherit;
}

.holder27-left{
    width: inherit;
}

.holder27-block1{
    width: inherit;
}

.holder27-right{
    width: inherit;
}

.holder27-right-top{
    width: inherit;
}

.holder27-block2{
    width: inherit;
}

.holder27-right-bottom{
    width: inherit;
}

.holder27-block3{
    width: inherit;
}

.holder27-block4{
    width: inherit;
}

.holder27-block5{
    width: inherit;
}

/* End of Holder 27 Styles */
/* Start of Holder 28 Styles */
.holder28{
    width: inherit;
}

.holder28-left{
    width: inherit;
}

.holder28-block1{
    width: inherit;
}

.holder28-right{
    width: inherit;
}

.holder28-right-top{
    width: inherit;
}

.holder28-block2{
    width: inherit;
}

.holder28-block3{
    width: inherit;
}

.holder28-right-bottom{
    width: inherit;
}

.holder28-block4{
    width: inherit;
}

.holder28-block5{
    width: inherit;
}

.holder28-block6{
    width: inherit;
}

/* End of Holder 28 Styles */
/* Start of Holder 29 Styles */
.holder29{
    width: inherit;
}

.holder29-left{
    width: inherit;
}

.holder29-left-top{
    width: inherit;
}

.holder29-block1{
    width: inherit;
}

.holder29-block2{
    width: inherit;  
}

.holder29-block3{
    width: inherit;
}

.holder29-left-bottom{
    width: inherit;
}

.holder29-block4{
    width: inherit;
}

.holder29-block5{
    width: inherit;
}

.holder29-right{
    width: inherit;
}

.holder29-block6{
    width: inherit;
}

/* End of Holder 29 Styles */
/* Start of Holder 30 Styles */
.holder30{
    width: inherit;
}

.holder30-left{
    width: inherit;
}

.holder30-left-top{
    width: inherit;
}

.holder30-block1{
    width: inherit;
}

.holder30-block2{
    width: inherit;
}

.holder30-block3{
    width: inherit;
}

.holder30-left-bottom{
    width: inherit;
}

.holder30-block4{
    width: inherit;
}

.holder30-right{
    width: inherit;
}

.holder30-block5{
    width: inherit;
}

/* End of Holder 30 Styles */
/* Start of Holder 31 Styles */
.holder31{
    width: inherit;
}

.holder31-left{
    width: inherit;
}

.holder31-left-top{
    width: inherit;
}

.holder31-block1{
    width: inherit;
}

.holder31-left-bottom{
    width: inherit;
}

.holder31-block2{
    width: inherit;
}

.holder31-block3{
    width: inherit;
}

.holder31-block4{
    width: inherit;
}

.holder31-right{
    width: inherit;
}

.holder31-block5{
    width: inherit;
}

/* End of Holder 31 Styles */
/* Start of Holder 32 Styles */
.holder32{
    width: inherit;
}

.holder32-left{
    width: inherit;
}

.holder32-left-top{
    width: inherit;
}

.holder32-block1{
    width: inherit;
}

.holder32-block2{
    width: inherit;
}

.holder32-left-bottom{
    width: inherit;
}

.holder32-block3{
    width: inherit;
}

.holder32-block4{
    width: inherit;
}

.holder32-block5{
    width: inherit;
}

.holder32-right{
    width: inherit;
}

.holder32-block6{
    width: inherit;
}

/* End of Holder 34 Styles */
/* Start of Holder 33 Styles */
.holder33{
    width: inherit;
}

/* End of Holder 33 Styles */
/* Start of Holder 34 Styles */
.holder34{
    width: inherit;
}

/* End of Holder 34 Styles */
/* Start of Holder 35 Styles */
.holder35{
    width: inherit;
}

/* End of Holder 35 Styles */
/* Start of Holder 36 Styles */
.holder36{
    width: inherit;
}

/* End of Holder 36 Styles */
/* Start of Holder 37 Styles */
.holder37{
    width: inherit;
}

/* End of Holder 37 Styles */
/* Start of Holder 38 Styles */
.holder38{
    width: inherit;
}

/* End of Holder 38 Styles */
/* Start of Holder 39 Styles */
.holder39{
    width: inherit;
}

/* End of Holder 39 Styles */
/* Start of Holder 40 Styles */
.holder40{
    width: inherit;
}

/* End of Holder 40 Styles */
/* Start of Holder 41 Styles */
.holder41{
    width: inherit;
}

/* End of Holder 41 Styles */
/* Start of Holder 42 Styles */
.holder42{
    width: inherit;
}

/* End of Holder 42 Styles */
/* Start of Holder 43 Styles */
.holder43{
    width: inherit;
}

/* End of Holder 43 Styles */
/* Start of Holder 44 Styles */
.holder44{
    width: inherit;
}

/* End of Holder 44 Styles */
/* Start of Holder 45 Styles */
.holder45{
    width: inherit;
}

/* End of Holder 45 Styles */
/* Start of Holder 46 Styles */
.holder46{
    width: inherit;
}

/* End of Holder 46 Styles */
/* Start of Holder 47 Styles */
.holder47{
    width: inherit;
}

/* End of Holder 47 Styles */
/* Start of Holder 48 Styles */
.holder48{
    width: inherit;
}

/* End of Holder 48 Styles */
/* Start of Holder 49 Styles */
.holder49{
    width: inherit;
}

/* End of Holder 49 Styles */
/* Start of Holder 50 Styles */
.holder50{
    width: inherit;
}

/* End of Holder 50 Styles */
